####################################################################################################
#####                              TX Ultimate Easy for ESPHome                                #####
#####                  Repository: https://github.com/edwardtfn/TX-Ultimate-Easy               #####
####################################################################################################
##### Purpose: ESPHome - Hardware - LEDs                                                       #####
####################################################################################################
##### Author: edwardtfn - https://github.com/edwardtfn - https://buymeacoffee.com/edwardfirmo  #####
####################################################################################################
##### NOTE:                                                                                    #####
##### - Make changes ONLY if absolutely necessary and you have the required knowledge.         #####
##### - For normal system use, modifications to this file are NOT required.                    #####
####################################################################################################
---
substitutions:
  default_transition_length: 500ms

  LIGHT_MODE_BOTH_TEXT: "Both"
  LIGHT_MODE_DISABLED_TEXT: "Disabled"
  LIGHT_MODE_LEFT_TEXT: "Left"
  LIGHT_MODE_RIGHT_TEXT: "Right"
  LIGHT_MODE_BOTTOM_TEXT: "Bottom"
  LIGHT_MODE_TOP_TEXT: "Top"
  LIGHT_MODE_BOTTOM_OR_LEFT_TEXT: ${LIGHT_MODE_BOTTOM_TEXT if IS_EU_MODEL else LIGHT_MODE_LEFT_TEXT}
  LIGHT_MODE_TOP_OR_RIGHT_TEXT: ${LIGHT_MODE_TOP_TEXT if IS_EU_MODEL else LIGHT_MODE_RIGHT_TEXT}

  LIGHT_TRANSITION_TURN_ON: '0'   # Transition time in msec
  LIGHT_TRANSITION_TURN_OFF: '0'  # Transition time in msec
  LIGHT_BRIGHTNESS_TURN_ON: '0'   # Brightness (1 to 100%, 0 to not set it)

  LIGHT_FULL_RESTORE_MODE: RESTORE_DEFAULT_OFF
  LIGHT_SIDES_RESTORE_MODE: RESTORE_DEFAULT_OFF

  LIGHT_ATTRS_DEFAULT: '0x64FFFFFF'               # brightness=100, RGB=255,255,255
  LIGHT_DUAL_ATTRS_DEFAULT: '0x64FFFFFF64FFFFFF'  # Both lights: brightness=100, RGB=255,255,255

  LIGHT_LED_COUNT: ${28 if IS_EU_MODEL else 32}
  LIGHT_MAX_ADDR: ${27 if IS_EU_MODEL else 31}

  TAG_HW_LEDS: tx_ultimate_easy.hw.leds

esphome:
  platformio_options:
    build_flags:
      - -D TX_ULTIMATE_EASY_HW_LEDS

light:
  # These lights are controlling the LEDs on the device
  - id: light_full
    name: Light - All
    internal: true
    num_leds: 32
    pin: GPIO13
    restore_mode: ${LIGHT_FULL_RESTORE_MODE}
    platform: esp32_rmt_led_strip
    rgb_order: GRB
    chipset: ws2812
    max_refresh_rate: 33ms
    use_psram: false
    # platform: neopixelbus
    # type: GRB
    # variant: WS2811

  # Those lights are available based on the model selections
  - &light_partition_with_effects
    id: lights_all
    name: Lights (all)
    platform: partition
    default_transition_length: ${default_transition_length}
    internal: false
    restore_mode: ${LIGHT_SIDES_RESTORE_MODE}
    effects:
      - addressable_rainbow:
          name: "Rainbow"
          width: ${LIGHT_LED_COUNT}
      - addressable_rainbow:
          name: "Rainbow - Fast"
          width: ${LIGHT_LED_COUNT}
          speed: 50
      - pulse:
          name: "Pulse"
          transition_length: 1s
          update_interval: 1s
      - pulse:
          name: "Pulse - Slow"
          transition_length: 2s
          update_interval: 2s
      - addressable_scan:
          name: "Scan"
          move_interval: 100ms
          scan_width: 3
      - addressable_twinkle:
          name: "Twinkle"
          twinkle_probability: 5%
          progress_interval: 4ms
      - addressable_random_twinkle:
          name: "Random Twinkle"
          twinkle_probability: 20%
          progress_interval: 32ms
      - addressable_fireworks:
          name: "Fireworks"
          update_interval: 32ms
          spark_probability: 10%
          use_random_color: false
          fade_out_rate: 120
      - addressable_flicker:
          name: "Flicker"
          update_interval: 16ms
          intensity: 5%
      - random:
          name: "Random"
    segments:
      - id: light_full
        from: 0
        to: ${LIGHT_MAX_ADDR}

  - &light_partition_sides
    id: light_bottom
    name: Light - Bottom
    platform: partition
    disabled_by_default: true
    default_transition_length: ${default_transition_length}
    restore_mode: ${LIGHT_SIDES_RESTORE_MODE}
    internal: false
    segments:
      - id: light_full
        from: ${6 if IS_EU_MODEL else 9}
        to: ${12 if IS_EU_MODEL else 14}
        reversed: true
  - id: light_left
    name: Light - Left
    <<: *light_partition_sides
    segments:
      - id: light_full
        from: ${13 if IS_EU_MODEL else 15}
        to: ${19 if IS_EU_MODEL else 24}
        reversed: true
  - id: light_right
    name: Light - Right
    <<: *light_partition_sides
    segments:
      - id: light_full
        from: ${27 if IS_EU_MODEL else 31}
        to: ${27 if IS_EU_MODEL else 31}
        reversed: false
      - id: light_full
        from: 0
        to: ${5 if IS_EU_MODEL else 8}
        reversed: false
  - id: light_top
    name: Light - Top
    <<: *light_partition_sides
    segments:
      - id: light_full
        from: ${20 if IS_EU_MODEL else 25}
        to: ${26 if IS_EU_MODEL else 30}
        reversed: false

script:
  - id: !extend dump_config
    then:
      - lambda: |-
          // Transition times
          ESP_LOGCONFIG("${TAG_HW_LEDS}", "Transition times:n"
                                          "  Default:     ${default_transition_length}");
          if (${LIGHT_TRANSITION_TURN_ON} > 0)
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning on:  ${LIGHT_TRANSITION_TURN_ON}ms");
          else
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning on:  Disabled");
          if (${LIGHT_TRANSITION_TURN_OFF} > 0)
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning off: ${LIGHT_TRANSITION_TURN_OFF}ms");
          else
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning off: Disabled");

          // Restore modes
          ESP_LOGCONFIG("${TAG_HW_LEDS}", "LED restore modes:\n"
                                          "  Light - All: ${LIGHT_FULL_RESTORE_MODE}\n"
                                          "  Sides:       ${LIGHT_SIDES_RESTORE_MODE}");

  - id: !extend dump_config_list_packages
    then:
      - script.wait: dump_config
      - lambda: |-
          // Check for requirements
          #ifndef TX_ULTIMATE_EASY_COMMON
            #error "The package TX-Ultimate-Easy-ESPHome_common.yaml is required."
          #endif

          // Identify itself
          ESP_LOGCONFIG(ESPHOME_PROJECT_NAME, "  - Hardware - LEDs");
...
