####################################################################################################
#####                              TX Ultimate Easy for ESPHome                                #####
#####                  Repository: https://github.com/edwardtfn/TX-Ultimate-Easy               #####
####################################################################################################
##### Purpose: ESPHome - Hardware - Touch panel                                                #####
####################################################################################################
##### Author: edwardtfn - https://github.com/edwardtfn - https://buymeacoffee.com/edwardfirmo  #####
####################################################################################################
##### NOTE:                                                                                    #####
##### - Make changes ONLY if absolutely necessary and you have the required knowledge.         #####
##### - For normal system use, modifications to this file are NOT required.                    #####
####################################################################################################
---
substitutions:
  TOUCH_POSITION_MAX_VALUE: '10'  # Maximum touch position value returned by the touch pad via uart
  BUTTON_MULTI_CLICK_DELAY: '250'  # The time to wait for another click, in msec

  ID_SWIPE_LEFT_TEXT: "left"
  ID_SWIPE_RIGHT_TEXT: "right"
  ID_SWIPE_DOWN_TEXT: "down"
  ID_SWIPE_UP_TEXT: "up"
  ID_SWIPE_RIGHT_OR_DOWN_TEXT: ${ID_SWIPE_DOWN_TEXT if IS_US_MODEL else ID_SWIPE_RIGHT_TEXT}
  ID_SWIPE_LEFT_OR_UP_TEXT: ${ID_SWIPE_UP_TEXT if IS_US_MODEL else ID_SWIPE_LEFT_TEXT}

  TAG_HW_TOUCH: tx_ultimate_easy.hw.touch

binary_sensor:
  - id: bs_button_1_click_event
    name: Button 1 - Click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 1}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_1_click_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_2_click_event
    name: Button 2 - Click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 2}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_2_click_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_3_click_event
    name: Button 3 - Click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 3}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_3_click_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_4_click_event
    name: Button 4 - Click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 4}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_4_click_event
            state: OFF  # yamllint disable-line rule:truthy

  - id: bs_button_1_double_click_event
    name: Button 1 - Double-click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 1}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_1_double_click_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_2_double_click_event
    name: Button 2 - Double-click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 2}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_2_double_click_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_3_double_click_event
    name: Button 3 - Double-click event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 3}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_3_double_click_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_4_double_click_event
    icon: mdi:gesture-tap-box
    name: Button 4 - Double-click event
    internal: ${gang_count < 4}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_4_double_click_event
            state: OFF  # yamllint disable-line rule:truthy

  - id: bs_button_1_long_press_event
    name: Button 1 - Long-press event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 1}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_1_long_press_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_2_long_press_event
    name: Button 2 - Long-press event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 2}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_2_long_press_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_3_long_press_event
    name: Button 3 - Long-press event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 3}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_3_long_press_event
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_button_4_long_press_event
    name: Button 4 - Long-press event
    icon: mdi:gesture-tap-box
    internal: ${gang_count < 4}
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_button_4_long_press_event
            state: OFF  # yamllint disable-line rule:truthy

  - id: bs_multi_touch
    name: Multi-touch event
    icon: mdi:gesture-two-tap
    internal: false
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_multi_touch
            state: OFF  # yamllint disable-line rule:truthy

  - id: bs_swipe_${ID_SWIPE_RIGHT_OR_DOWN_TEXT}
    name: Swipe-${ID_SWIPE_RIGHT_OR_DOWN_TEXT} event
    icon: mdi:gesture-swipe-${ID_SWIPE_RIGHT_OR_DOWN_TEXT}
    internal: false
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_swipe_${ID_SWIPE_RIGHT_OR_DOWN_TEXT}
            state: OFF  # yamllint disable-line rule:truthy
  - id: bs_swipe_${ID_SWIPE_LEFT_OR_UP_TEXT}
    name: Swipe ${ID_SWIPE_LEFT_OR_UP_TEXT} event
    icon: mdi:gesture-swipe-${ID_SWIPE_LEFT_OR_UP_TEXT}
    internal: false
    disabled_by_default: true
    platform: template
    on_press:
      then:
        - delay: !lambda return nr_touch_duration->state;
        - binary_sensor.template.publish:
            id: bs_swipe_${ID_SWIPE_LEFT_OR_UP_TEXT}
            state: OFF  # yamllint disable-line rule:truthy

esphome:
  platformio_options:
    build_flags:
      - -D TX_ULTIMATE_EASY_HW_TOUCH

number:
  - id: nr_touch_duration
    name: Touch event duration
    icon: mdi:timer-cog-outline
    unit_of_measurement: ms
    # mode: box
    internal: false
    entity_category: config
    platform: template
    min_value: 10
    max_value: 1500
    step: 1
    initial_value: 250
    optimistic: true
    restore_value: true

  - id: nr_button_multi_click_delay
    name: Button multi-click delay
    icon: mdi:timer-outline
    unit_of_measurement: ms
    mode: box
    internal: false
    entity_category: config
    platform: template
    min_value: 0
    max_value: 2000
    step: 10
    initial_value: ${BUTTON_MULTI_CLICK_DELAY}
    optimistic: true
    restore_value: true

script:
  - id: !extend boot_initialize
    then:
      - script.execute: boot_initialize_touch

  - id: boot_initialize_touch
    mode: restart
    then:
      - lambda: |-
          boot_initialize_touch_format->execute();
          boot_initialize_touch_gang->execute();

  - id: boot_initialize_touch_format
    mode: restart
    then:
      - lambda: |-
          bs_multi_touch->publish_state(false);
          bs_swipe_${ID_SWIPE_RIGHT_OR_DOWN_TEXT}->publish_state(false);
          bs_swipe_${ID_SWIPE_LEFT_OR_UP_TEXT}->publish_state(false);

  - id: boot_initialize_touch_gang
    mode: restart
    then:
      - lambda: |-
          bs_button_1_click_event->publish_state(false);
          bs_button_2_click_event->publish_state(false);
          bs_button_3_click_event->publish_state(false);
          bs_button_4_click_event->publish_state(false);
          bs_button_1_double_click_event->publish_state(false);
          bs_button_2_double_click_event->publish_state(false);
          bs_button_3_double_click_event->publish_state(false);
          bs_button_4_double_click_event->publish_state(false);
          bs_button_1_long_press_event->publish_state(false);
          bs_button_2_long_press_event->publish_state(false);
          bs_button_3_long_press_event->publish_state(false);
          bs_button_4_long_press_event->publish_state(false);

  - id: !extend dump_config
    then:
      - lambda: |-
          // Touch panel's state
          if (sw_touch_panel_power->state)
            ESP_LOGCONFIG("${TAG_HW_TOUCH}", "Touch panel - Power: On");
          else
            ESP_LOGW("${TAG_HW_TOUCH}", "Touch panel - Power: OFF");
          ESP_LOGCONFIG("${TAG_HW_TOUCH}", "Touch event duration: %.0fms", nr_touch_duration->state);

  - id: !extend dump_config_list_packages
    then:
      - script.wait: dump_config
      - lambda: |-
          // Check for requirements
          #ifndef TX_ULTIMATE_EASY_COMMON
            #error "The package TX-Ultimate-Easy-ESPHome_common.yaml is required."
          #endif

          // Identify itself
          ESP_LOGCONFIG(ESPHOME_PROJECT_NAME, "  - Hardware - Touchpad");

  - id: touch_on_multi_touch_release
    mode: restart
    then:
      # Extended by:
      #   - HW Buttons
      #   - HW Vibration
      - binary_sensor.template.publish:
          id: bs_multi_touch
          state: ON  # yamllint disable-line rule:truthy

  - id: touch_on_press
    mode: restart
    parameters:
      button: uint8_t
      position: uint8_t
    then:
    # Extended by:
    #   - HW Buttons
    #   - HW Vibration

  - id: touch_on_release
    mode: restart
    then:
    # Extended by:
    #   - HW Buttons
    #   - HW Vibration

  - id: touch_swipe_${ID_SWIPE_RIGHT_OR_DOWN_TEXT}
    mode: restart
    then:
      # Extended by:
      #   - HW Buttons
      - lambda: |-
          bs_swipe_${ID_SWIPE_RIGHT_OR_DOWN_TEXT}->publish_state(true);

  - id: touch_swipe_${ID_SWIPE_LEFT_OR_UP_TEXT}
    mode: restart
    then:
      # Extended by:
      #   - HW Buttons
      - lambda: |-
          bs_swipe_${ID_SWIPE_LEFT_OR_UP_TEXT}->publish_state(true);

switch:
  - id: sw_touch_panel_power
    name: Touch panel - Power
    platform: gpio
    pin:
      number: GPIO5
      inverted: true
    restore_mode: ALWAYS_ON
    internal: false
    entity_category: config

tx_ultimate_easy:
  uart: uart_touch

  on_long_touch_release:
    - lambda: |-
        const uint8_t touch_position = static_cast<uint8_t>(touch.x);
        if (touch_position > ${TOUCH_POSITION_MAX_VALUE}) {  // Check for valid range
          ESP_LOGE("${TAG_HW_TOUCH}", "Invalid long-touch position: %" PRIu8, touch_position);
        } else {
          ESP_LOGI("${TAG_HW_TOUCH}", "Long-touch released at position %" PRIu8, touch_position);
        }

  on_multi_touch_release:
    then:
      - lambda: |-
          esphome::tx_ultimate_easy::fire_ha_event("touch", "multi_touch", {
            {"action", "release"},
            {"position", std::to_string(touch.x)}
          });
          ESP_LOGI("${TAG_HW_TOUCH}", "Multi-touch released");
          touch_on_multi_touch_release->execute();

  on_press:
    then:
      - lambda: |-
          const uint8_t position = static_cast<uint8_t>(touch.x);
          if (position > ${TOUCH_POSITION_MAX_VALUE}) {  // Check for valid range
            ESP_LOGE("${TAG_HW_TOUCH}", "Invalid touch position: %" PRIu8, position);
          } else {
            ESP_LOGI("${TAG_HW_TOUCH}", "Pressed at position %" PRIu8, position);
            touch_on_press->execute(static_cast<uint8_t>(touch.button), position);
          }

  on_release:
    then:
      - lambda: |-
          ESP_LOGI("${TAG_HW_TOUCH}", "Released");
          touch_on_release->execute();

  on_swipe_left:
    then:
      - lambda: |-
          esphome::tx_ultimate_easy::fire_ha_event("touch", "swipe", {
            {"action", "${ID_SWIPE_LEFT_OR_UP_TEXT}"},
            {"swipe-direction", "${ID_SWIPE_LEFT_OR_UP_TEXT}"},
            {"position", std::to_string(touch.x)}
          });
          ESP_LOGI("${TAG_HW_TOUCH}", "Swipe ${ID_SWIPE_LEFT_OR_UP_TEXT}");
          touch_swipe_${ID_SWIPE_LEFT_OR_UP_TEXT}->execute();

  on_swipe_right:
    then:
      - lambda: |-
          esphome::tx_ultimate_easy::fire_ha_event("touch", "swipe", {
            {"action", "${ID_SWIPE_RIGHT_OR_DOWN_TEXT}"},
            {"swipe-direction", "${ID_SWIPE_RIGHT_OR_DOWN_TEXT}"},
            {"position", std::to_string(touch.x)}
          });
          ESP_LOGI("${TAG_HW_TOUCH}", "Swipe ${ID_SWIPE_RIGHT_OR_DOWN_TEXT}");
          touch_swipe_${ID_SWIPE_RIGHT_OR_DOWN_TEXT}->execute();

  on_touch_event:
    - lambda: |-
        ESP_LOGD("${TAG_HW_TOUCH}", "Touch event:");
        ESP_LOGD("${TAG_HW_TOUCH}", "  State:    %i (%s)", touch.state, touch.state_str.c_str());
        ESP_LOGD("${TAG_HW_TOUCH}", "  Position: %i", touch.x);

uart:
  - id: uart_touch
    tx_pin: GPIO19
    rx_pin: GPIO22
    baud_rate: 115200
...
