####################################################################################################
#####                              TX Ultimate Easy for ESPHome                                #####
#####                  Repository: https://github.com/edwardtfn/TX-Ultimate-Easy               #####
####################################################################################################
##### Purpose: ESPHome - Hardware - LEDs                                                       #####
####################################################################################################
##### Author: edwardtfn - https://github.com/edwardtfn - https://buymeacoffee.com/edwardfirmo  #####
####################################################################################################
##### NOTE:                                                                                    #####
##### - Make changes ONLY if absolutely necessary and you have the required knowledge.         #####
##### - For normal system use, modifications to this file are NOT required.                    #####
####################################################################################################
---
substitutions:
  default_transition_length: 500ms

  LIGHT_MODE_BOTH_TEXT: "Both"
  LIGHT_MODE_DISABLED_TEXT: "Disabled"
  LIGHT_MODE_LEFT_TEXT: "Left"
  LIGHT_MODE_RIGHT_TEXT: "Right"
  LIGHT_MODE_BOTTOM_TEXT: "Bottom"
  LIGHT_MODE_TOP_TEXT: "Top"

  LIGHT_TRANSITION_TURN_ON: '0'   # Transition time in msec
  LIGHT_TRANSITION_TURN_OFF: '0'  # Transition time in msec
  LIGHT_BRIGHTNESS_TURN_ON: '0'   # Brightness (1 to 100%, 0 to not set it)

  LIGHT_FULL_RESTORE_MODE: RESTORE_DEFAULT_OFF
  LIGHT_SIDES_RESTORE_MODE: RESTORE_DEFAULT_OFF
  LIGHT_INDIVIDUAL_RESTORE_MODE: RESTORE_DEFAULT_OFF

  LIGHT_ATTRS_DEFAULT: '0x64FFFFFF'               # brightness=100, RGB=255,255,255
  LIGHT_DUAL_ATTRS_DEFAULT: '0x64FFFFFF64FFFFFF'  # Both lights: brightness=100, RGB=255,255,255

  LIGHT_LED_COUNT: ${28 if IS_EU_MODEL else 32}
  LIGHT_MAX_ADDR: ${27 if IS_EU_MODEL else 31}

  TAG_HW_LEDS: tx_ultimate_easy.hw.leds

esphome:
  platformio_options:
    build_flags:
      - -D TX_ULTIMATE_EASY_HW_LEDS

globals:
  # light_full with effect support
  - id: led_full_attrs
    type: uint32_t
    restore_value: true
    initial_value: '${LIGHT_ATTRS_DEFAULT}'
    # Basic attributes: brightness + RGB

    # For light_full effects
  - id: led_full_effect_packed
    type: uint32_t
    restore_value: true
    initial_value: '0x00000000'
    # Stores: effect_index(16 bits) + effect_speed(8 bits) + reserved(8 bits)
    # 0 = no effect/solid color, 1-10 = effect indices

  - id: led_main_packed_attrs
    type: uint64_t
    restore_value: true
    initial_value: '${LIGHT_DUAL_ATTRS_DEFAULT}'
    # light_eu(group1) + light_us(group2) - the main effect lights

  - id: led_main_packed_effect
    type: uint32_t
    restore_value: true
    initial_value: '0x00000000'
    # Shared between light_eu and light_us

  # Main user-facing LED lights only
  - id: led_sides_packed_attrs
    type: uint64_t
    restore_value: true
    initial_value: '${LIGHT_DUAL_ATTRS_DEFAULT}'
    # EU: bottom(group1) + top(group2) OR US: left(group1) + right(group2)

light:
  # These lights are controlling the LEDs on the device
  - id: light_full
    name: Light - All
    internal: true
    num_leds: 32
    pin: GPIO13
    restore_mode: ${LIGHT_FULL_RESTORE_MODE}
    platform: esp32_rmt_led_strip
    rgb_order: GRB
    chipset: ws2812
    max_refresh_rate: 33ms
    use_psram: false
    # platform: neopixelbus
    # type: GRB
    # variant: WS2811

  # Those lights are available based on the model selections
  - &light_partition_with_effects
    id: lights_all
    name: Lights (all)
    platform: partition
    default_transition_length: ${default_transition_length}
    internal: false
    restore_mode: ${LIGHT_SIDES_RESTORE_MODE}
    effects:
      - addressable_rainbow:
          name: "Rainbow"
          width: ${LIGHT_LED_COUNT}
      - addressable_rainbow:
          name: "Rainbow - Fast"
          width: ${LIGHT_LED_COUNT}
          speed: 50
      - pulse:
          name: "Pulse"
          transition_length: 1s
          update_interval: 1s
      - pulse:
          name: "Pulse - Slow"
          transition_length: 2s
          update_interval: 2s
      - addressable_scan:
          name: "Scan"
          move_interval: 100ms
          scan_width: 3
      - addressable_twinkle:
          name: "Twinkle"
          twinkle_probability: 5%
          progress_interval: 4ms
      - addressable_random_twinkle:
          name: "Random Twinkle"
          twinkle_probability: 20%
          progress_interval: 32ms
      - addressable_fireworks:
          name: "Fireworks"
          update_interval: 32ms
          spark_probability: 10%
          use_random_color: false
          fade_out_rate: 120
      - addressable_flicker:
          name: "Flicker"
          update_interval: 16ms
          intensity: 5%
      - random:
          name: "Random"
    segments:
      - id: light_full
        from: 0
        to: ${LIGHT_MAX_ADDR}

  - &light_partition_sides
    id: light_bottom
    name: Light - Bottom
    platform: partition
    disabled_by_default: true
    default_transition_length: ${default_transition_length}
    restore_mode: ${LIGHT_SIDES_RESTORE_MODE}
    internal: false
    segments:
      - id: light_full
        from: ${6 if IS_EU_MODEL else 9}
        to: ${12 if IS_EU_MODEL else 14}
        reversed: true

  - id: light_left
    name: Light - Left
    <<: *light_partition_sides
    segments:
      - id: light_full
        from: ${13 if IS_EU_MODEL else 15}
        to: ${19 if IS_EU_MODEL else 24}
        reversed: true
  - id: light_right
    name: Light - Right
    <<: *light_partition_sides
    segments:
      - id: light_full
        from: ${27 if IS_EU_MODEL else 31}
        to: ${27 if IS_EU_MODEL else 31}
        reversed: false
      - id: light_full
        from: 0
        to: ${5 if IS_EU_MODEL else 8}
        reversed: false
  - id: light_top
    name: Light - Top
    <<: *light_partition_sides
    segments:
      - id: light_full
        from: ${20 if IS_EU_MODEL else 25}
        to: ${26 if IS_EU_MODEL else 30}
        reversed: false

  - &light_partition_individual_led
    id: light_00
    name: Light - LED 00
    platform: partition
    disabled_by_default: true
    default_transition_length: ${default_transition_length}
    restore_mode: ${LIGHT_INDIVIDUAL_RESTORE_MODE}
    segments:
      - id: light_full
        from: 0
        to: 0
  - id: light_01
    name: Light - LED 01
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 1
        to: 1
  - id: light_02
    name: Light - LED 02
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 2
        to: 2
  - id: light_03
    name: Light - LED 03
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 3
        to: 3
  - id: light_04
    name: Light - LED 04
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 4
        to: 4
  - id: light_05
    name: Light - LED 05
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 5
        to: 5
  - id: light_06
    name: Light - LED 06
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 6
        to: 6
  - id: light_07
    name: Light - LED 07
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 7
        to: 7
  - id: light_08
    name: Light - LED 08
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 8
        to: 8
  - id: light_09
    name: Light - LED 09
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 9
        to: 9
  - id: light_10
    name: Light - LED 10
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 10
        to: 10
  - id: light_11
    name: Light - LED 11
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 11
        to: 11
  - id: light_12
    name: Light - LED 12
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 12
        to: 12
  - id: light_13
    name: Light - LED 13
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 13
        to: 13
  - id: light_14
    name: Light - LED 14
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 14
        to: 14
  - id: light_15
    name: Light - LED 15
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 15
        to: 15
  - id: light_16
    name: Light - LED 16
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 16
        to: 16
  - id: light_17
    name: Light - LED 17
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 17
        to: 17
  - id: light_18
    name: Light - LED 18
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 18
        to: 18
  - id: light_19
    name: Light - LED 19
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 19
        to: 19
  - id: light_20
    name: Light - LED 20
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 20
        to: 20
  - id: light_21
    name: Light - LED 21
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 21
        to: 21
  - id: light_22
    name: Light - LED 22
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 22
        to: 22
  - id: light_23
    name: Light - LED 23
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 23
        to: 23
  - id: light_24
    name: Light - LED 24
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 24
        to: 24
  - id: light_25
    name: Light - LED 25
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 25
        to: 25
  - id: light_26
    name: Light - LED 26
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 26
        to: 26
  - id: light_27
    name: Light - LED 27
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 27
        to: 27
  - id: light_28  # US Model only
    name: Light - LED 28
    internal: ${'false' if IS_US_MODEL else 'true'}
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 28
        to: 28
  - id: light_29  # US Model only
    name: Light - LED 29
    internal: ${'false' if IS_US_MODEL else 'true'}
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 29
        to: 29
  - id: light_30  # US Model only
    name: Light - LED 30
    internal: ${'false' if IS_US_MODEL else 'true'}
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 30
        to: 30
  - id: light_31  # US Model only
    name: Light - LED 31
    internal: ${'false' if IS_US_MODEL else 'true'}
    <<: *light_partition_individual_led
    segments:
      - id: light_full
        from: 31
        to: 31

script:
  - id: !extend dump_config
    then:
      - lambda: |-
          // Transition times
          ESP_LOGCONFIG("${TAG_HW_LEDS}", "Transition times:n"
                                          "  Default:     ${default_transition_length}");
          if (${LIGHT_TRANSITION_TURN_ON} > 0)
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning on:  ${LIGHT_TRANSITION_TURN_ON}ms");
          else
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning on:  Disabled");
          if (${LIGHT_TRANSITION_TURN_OFF} > 0)
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning off: ${LIGHT_TRANSITION_TURN_OFF}ms");
          else
            ESP_LOGCONFIG("${TAG_HW_LEDS}", "  Turning off: Disabled");

          // Restore modes
          ESP_LOGCONFIG("${TAG_HW_LEDS}", "LED restore modes:\n"
                                          "  Light - All: ${LIGHT_FULL_RESTORE_MODE}\n"
                                          "  Sides:       ${LIGHT_SIDES_RESTORE_MODE}\n"
                                          "  Individual:  ${LIGHT_INDIVIDUAL_RESTORE_MODE}");

  - id: !extend dump_config_list_packages
    then:
      - script.wait: dump_config
      - lambda: |-
          // Check for requirements
          #if !defined(TX_ULTIMATE_EASY_COMMON)
            #error "The package TX-Ultimate-Easy-ESPHome_common.yaml is required."
          #endif

          // Identify itself
          ESP_LOGCONFIG(ESPHOME_PROJECT_NAME, "  - Hardware - LEDs");
...
