---
name: Validate ESPHome (Beta)

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "*.yaml"
      - "ESPHome/*.yaml"
      - ".test/*.yaml"
      - "*.h"
      - "*.c"
      - "*.cpp"
      - "*.py"
  pull_request:
    paths:
      - "*.yaml"
      - "ESPHome/*.yaml"
      - ".test/*.yaml"
      - "*.h"
      - "*.c"
      - "*.cpp"
      - "*.py"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  code_scan:
    name: Code scan (YAML)
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Code
        uses: actions/checkout@main

      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: '3.8'

      - name: Install Yamllint
        run: pip install yamllint

      - name: Validate YAML files
        run: find . -name "*.yaml" -exec yamllint -c ./.rules/yamllint.yml {} +

  build_basic:
    name: Basic
    needs:
      - code_scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build core
        uses: esphome/build-action@main
        with:
          yaml-file: ".test/esphome_ard_basic.yaml"
          version: beta

  build_bluetooth_proxy_4:
    name: Bluetooth Proxy (IDF)
    needs: build_basic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build core
        uses: esphome/build-action@main
        with:
          yaml-file: ".test/esphome_idf_bluetooth_proxy.yaml"
          version: beta

  build_bluetooth_proxy_53:
    name: Bluetooth Proxy (IDF v5.3)
    needs: build_basic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build core
        uses: esphome/build-action@main
        with:
          yaml-file: ".test/esphome_idf53_bluetooth_proxy.yaml"
          version: beta
...
